
:root {
  --mainColor: #402a70;
  --secondaryColor: #b19be0;
}

* {
  background-color: var(--mainColor);
  color: var(--secondaryColor)
}

.messagesContainer {
  display: flex;
	flex-direction: column-reverse;
}

textarea {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

input, textarea {
  margin: 5px;
  background: #fff;
  border-color: var(--secondaryColor);
}
